# Email Settings
FROM_EMAIL=admin@yourdomain.com
SMTP_SERVER=smtp.yourdomain.com
SMTP_PORT=465
SMTP_USERNAME=admin@yourdomain.com
SMTP_PASSWORD=yourpassword

# API Settings
CENSOR_FILE_SCAN_DURATION=30
WHITE_LIST_REPOSITORIES='{
    "DGP-Studio/Snap.Hutao": "Snap Hutao/{ver}.0",
    "xunkong/xunkong": "XunkongDesktop/{ver}.0"
}'